{% load static %}
<header class="header">
  <div class="menu">
    <div class="logo">
      <a href=""><img src="{% static 'base/image/Logo/abc_company.png' %}" alt="Logo"></a>
    </div>
    <nav class="nav">
      {% if request.user.is_authenticated %}
        <ul class="profile">

          <li>
            <!-- Imagen del usuario -->
            {% if request.user.profile %}
              <img src="{{ request.user.profile.photo.url }}" alt="Profile"
                   class="img-profile">
            {% else %}
              <img src="{% static 'base/image/Default/default-user.png' %}" alt="Profile"
                   class="img-profile">
            {% endif %}
            <!-- Nombre completo del usuario -->
            <span class="name-user">{{ request.user.full_name }}</span>
          </li>

          <!-- Botón de editar perfil -->
          <!-- Verificar si el usuario es staff -->
          {% if request.user.is_staff == True %}
            <li>
              <a href="{% url 'admin:index' %}" class="btn-admin">Ir al admin</a>
            </li>
          {% endif %}
          <!-- Botón de salir -->
          <li>
            <a href="{% url 'user:logout' %}" class="loguot">Salir</a>
          </li>
        </ul>
      {% else %}
        <ul>
          <li>
            {% url 'user:login' as url_login %}
            {% url 'user:register' as url_register %}
            {%  if request.path == url_register %}
              <a href="{% url 'user:login' %}" class="login">Iniciar sesión</a>
              {% elif request.path == url_login %}
              <a href="{% url 'user:register' %}" class="create">Crear cuenta</a>
              {% else %}
              <a href="{% url 'user:login' %}" class="login">Iniciar sesión</a>
              <a href="{% url 'user:register' %}" class="create">Crear cuenta</a>
              {% endif %}
          </li>
        </ul>
      {% endif %}
    </nav>
  </div>
</header>